*{
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.passgen{
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border: 5px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(82, 67, 54, 0.525);
  /* min-width: 200px;
  width: 200px; */
}

.inlu{
  border: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  background-color: rgb(46, 65, 65);
}
.lulu{
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
button{
  background-color: rgb(76, 66, 180);
  border-radius: 20px;
  margin: 10px
}